{% extends 'base.html' %}
{% load static %}
{% block breadcrumb %}
  <li class="breadcrumb-item"><a class="text-dark text-muted" href="{% url 'viz:alerts_dashboard' %}">Alerts</a></li>
  <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Alert Details</li>
{% endblock breadcrumb %}

{% block content %}
    <div class="row justify-content-center">
      <div class="col-lg-8 mx-auto">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="border-radius-lg pt-4 pb-3
            {% if "ACKNOWLEDGED" in alert.status %}
            bg-info
            {% elif "EXPIRED" in alert.status %}
            bg-dark
            {% elif "CLOSED" in alert.status %}
            bg-secondary
            {% elif "CRITICAL" in alert.severity %}
            bg-gradient-danger
            {% elif "MAJOR" in alert.severity %}
            bg-primary
            {% elif "WARNING" in alert.severity %}
            bg-warning
            {% endif %}
            ">
              <h5 class="text-white text-capitalize ps-3 no-wrap">
                {{ alert.location }} - {{ alert.message|truncatechars:50 }} 
              </h5>
            </div>
          </div>
          <div class="card-body px-0 pb-2 mx-4">
            <div class="row justify-content-center">
              <table class="table table-borderless w-90">
                <tbody>
                    <tr>
                        <td><strong>Created:</strong></td>
                        <td>{{ alert.timestamp|date:"F j, Y H:i" }}</td>
                    </tr>
                    <tr>
                        <td><strong>Severity:</strong></td>
                        <td>
                          {{ alert.get_severity_display }}
                          {% if "CRITICAL" in alert.severity %}
                          <i class="material-icons text-danger">local_fire_department</i>
                          {% elif "MAJOR" in alert.severity %}
                          <i class="material-icons text-primary">bolt</i>
                          {% elif "WARNING" in alert.severity %}
                          <i class="material-icons text-warning">emergency</i>
                          {% endif %} 
                        </td>
                    </tr>
                    <tr>
                      <td><strong>Status:</strong></td>
                      <td>
                        {{ alert.get_status_display }}
                        {% if "OPEN" in alert.status %}
                        <i class="fa-solid fa-tower-broadcast 
                        {% if "CRITICAL" in alert.severity %}
                        text-danger
                        {% elif "MAJOR" in alert.severity %}
                        text-primary
                        {% elif "WARNING" in alert.severity %}
                        text-warning
                        {% endif %}
                        "></i>
                        {% elif "ACKNOWLEDGED" in alert.status %}
                            <i class="text-info fas fa-check-double"></i>
                        {% elif "EXPIRED" in alert.status %}
                            <i class="text-dark fas fa-hourglass-end"></i>
                        {% elif "CLOSED" in alert.status %}
                          <i class="material-icons">archive</i>
                        {% endif %}
                      </td>
                    </tr>
                    <tr>
                      <td><strong>Source:</strong></td>
                      <td>{{ alert.source }}</td>
                    </tr>
                    <tr>
                        <td><strong>Message:</strong></td>
                        <td>{{ alert.message }}</td>
                    </tr>
                    <tr>
                        <td><strong>Last Occurrence:</strong></td>
                        <td>{{ alert.last_occurrence|date:"F j, Y H:i" }}</td>
                    </tr>
                    {% if alert.acknowledged_at %}
                        <tr>
                            <td><strong>Acknowledged At:</strong></td>
                            <td>{{ alert.acknowledged_at|date:"F j, Y H:i" }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                      <td colspan="2">
                        {% csrf_token %}
                        <div class="input-group input-group-outline my-3">
                          <textarea id="notes" name="notes" rows="5" class="form-control">{{ alert.notes|default:"" }}</textarea>
                        </div>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer text-muted d-flex justify-content-center">
            <button class="{% if "ACKNOWLEDGED" in alert.status %}btn btn-info
                           {% elif "EXPIRED" in alert.status %}btn btn-dark
                           {% elif "CLOSED" in alert.status %}btn btn-outline-secondary
                           {% elif "CRITICAL" in alert.severity %}btn btn-danger
                           {% elif "MAJOR" in alert.severity %}btn btn-primary
                           {% elif "WARNING" in alert.severity %}btn btn-warning
                           {% endif %}" 
                           {% if "ACKNOWLEDGED" in alert.status %}onclick="unacknowledgeAlert({{ alert.id }})"
                           {% else %}onclick="acknowledgeAlert({{ alert.id }})"
                           {% endif %}
                           {% if "EXPIRED" in alert.status%}disabled{% endif %}>
              <i class="material-icons">{% if "ACKNOWLEDGED" in alert.status %}replay{% else %}done{% endif %}</i>
              <span>{% if "ACKNOWLEDGED" in alert.status %}Unacknowledge{% else %}Acknowledge{% endif %}</span>
            </button>

            <button class="{% if "ACKNOWLEDGED" in alert.status %}btn btn-info
                           {% elif "EXPIRED" in alert.status %}btn btn-dark
                           {% elif "CLOSED" in alert.status %}btn btn-outline-secondary
                           {% elif "CRITICAL" in alert.severity %}btn btn-danger
                           {% elif "MAJOR" in alert.severity %}btn btn-primary
                           {% elif "WARNING" in alert.severity %}btn btn-warning
                           {% endif %} mx-4" 
                           onclick="archiveAlert({{ alert.id }})"
                           {% if "CLOSED" in alert.status%}disabled{% endif %}
                           >
              <i class="material-icons">archive</i>
              <span>Archive</span>
            </button>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block extrascripts %}
<!-- Include the dashboard.js file -->
<script src="{% static 'js/dashboard.js' %}"></script>

<!-- Include lodash -->
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const notesTextarea = document.getElementById('notes');

    // Debounce the input event
    const debouncedSave = _.debounce(function (updatedNotes) {
        // Send an AJAX request to the server for auto-save
        fetch('/viz/autosave_notes/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                'alert_id': '{{ alert.id }}',
                'notes': updatedNotes,
            }),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Auto-save successful:', data);
        })
        .catch(error => {
            console.error('Auto-save error:', error);
        });
    }, 3000); // Adjust the debounce time (in milliseconds) as needed

    // Attach input event listener to the textarea
    notesTextarea.addEventListener('input', function () {
        // Get the updated notes content
        const updatedNotes = notesTextarea.value;

        // Call the debounced function
        debouncedSave(updatedNotes);
    });
});
</script>

{% endblock extrascripts%}