{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
<li class="breadcrumb-item text-sm text-dark active" aria-current="page">Alerts Analytics</li>
{% endblock breadcrumb %}

{% block content %}
<!-- Charts-->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-lg-12 mt-4 mb-4">
      <div class="card z-index-2 ">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
          <div class=" bg-white shadow-dark border-radius-lg py-3 pe-1">
            <div class="chart">
              <canvas id="barchart-30days" class="chart-canvas" height="170"></canvas>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="mb-0 ">Last 30 days - Created</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 mt-4 mb-4">
      <div class="card z-index-2 ">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
          <div class=" bg-white shadow-dark border-radius-lg py-3 pe-1">
            <div class="chart">
              <canvas id="doughnut-chart" class="chart-canvas" height="300px"></canvas>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="mb-0 ">Open alerts - Severity Distribution</h6>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mt-4 mb-4">
      <div class="card z-index-2 ">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
          <div class=" bg-white shadow-dark border-radius-lg py-3 pe-1">
            <div class="chart">
              <canvas id="doughnut-chart-source" class="chart-canvas" height="300px"></canvas>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="mb-0 ">Last 30 Days - Source Distribution</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 mt-4 mb-4">
      <div class="card z-index-2 ">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
          <div class=" bg-white shadow-dark border-radius-lg py-3 pe-1">
            <div class="chart">
              <canvas id="bar-chart-location" class="chart-canvas" height="170"></canvas>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="mb-0 ">Last 30 days - Location</h6>
        </div>
      </div>
    </div>
</div>
{% endblock content %}

{% block extrascripts %}
<!-- Script for Bar Chart -->
<script>
  // Get the labels and data from your Django template
  var labels = {{ thirtyday_chart_labels | safe }};
  var data = {{ thirtyday_chart_data | safe }};

  // Create the bar chart
  var ctx = document.getElementById('barchart-30days').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: labels,
          datasets: [{
              label: 'Daily Counts',
              data: data,
              backgroundColor: '#344767',
              borderWidth: 0,
              borderRadius: 4,
              fill: false,
          }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        plugins: {
          legend: {
            display: false,
          }
        },
        scales: {
          y: {
            grid: {
              drawBorder: false,
              display: true,
              drawOnChartArea: true,
              drawTicks: false,
              borderDash: [5, 5]
            },
            ticks: {
              display: true,
              padding: 10,
              color: '#344767',
              stepSize: 1,
            }
          },
          x: {
            grid: {
              drawBorder: false,
              display: false,
              drawOnChartArea: true,
              drawTicks: true,
            },
            ticks: {
              display: true,
              color: '#344767',
              padding: 10,
              font: {
                style: 'bold',
              }
            }
          },
        },
      },
    });
</script>

<!-- Script for Doughnut Chart -->
<script>
  // Get the labels and data for the doughnut chart from your Django template
  var doughnutLabels = {{ severity_chart_labels | safe }};
  var doughnutData = {{ severity_chart_data | safe }};

  // Function to map severity to color
  function getColor(severity) {
    switch (severity) {
      case 'CRITICAL':
        return '#F44335'; // CRITICAL
      case 'MAJOR':
        return '#e91e63'; // MAJOR
      case 'WARNING':
        return '#fb8c00'; // WARNING
      default:
        return '#4c4c4c'; // Default color
    }
  }

  // Doughnut chart
  var ctx3 = document.getElementById("doughnut-chart").getContext("2d");
  new Chart(ctx3, {
    type: "doughnut",
    data: {
      labels: doughnutLabels,
      datasets: [{
        label: "Severity Distribution",
        weight: 9,
        cutout: 60,
        tension: 0.9,
        pointRadius: 2,
        borderWidth: 2,
        backgroundColor: doughnutLabels.map(getColor),
        data: doughnutData,
        fill: false
      }],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: true, // Set to true to display the legend
          position: 'right', // You can adjust the position (top, bottom, left, right)
        }
      },
      interaction: {
        intersect: false,
        mode: 'index',
      },
      scales: {
        y: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false,
          },
          ticks: {
            display: false
          }
        },
        x: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false,
          },
          ticks: {
            display: false,
          }
        },
      },
    },
  });
</script>

<script>
  function getRandomColors(count) {
    // Generate an array of random RGB colors
    var colors = [];
    for (var i = 0; i < count; i++) {
      colors.push('rgb(' +
        Math.floor(Math.random() * 256) + ',' +
        Math.floor(Math.random() * 256) + ',' +
        Math.floor(Math.random() * 256) + ')');
    }
    return colors;
  }
  // Get the labels and data for the source doughnut chart from your Django template
  var sourceDoughnutLabels = {{ source_chart_labels | safe }};
  var sourceDoughnutData = {{ source_chart_data | safe }};

  // Doughnut chart for sources
  var ctxSourceDoughnutChart = document.getElementById("doughnut-chart-source").getContext("2d");
  new Chart(ctxSourceDoughnutChart, {
    type: "doughnut",
    data: {
      labels: sourceDoughnutLabels,
      datasets: [{
        label: "Alerts Distribution by Source",
        weight: 9,
        cutout: 60,
        tension: 0.9,
        pointRadius: 2,
        borderWidth: 2,
        backgroundColor: getRandomColors(sourceDoughnutLabels.length), // Function to get a smooth color palette
        data: sourceDoughnutData,
        fill: false
      }],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: true,
          position: 'right',
        }
      },
      interaction: {
        intersect: false,
        mode: 'index',
      },
      scales: {
        y: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false,
          },
          ticks: {
            display: false
          }
        },
        x: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false,
          },
          ticks: {
            display: false,
          }
        },
      },
    },
  });
</script>

<!-- Script for Horizontal Bar Chart - Alerts by Location -->
<script>
  // Get the labels and data for the horizontal bar chart from your Django template
  var locationBarChartLabels = {{ location_chart_labels | safe }};
  var locationBarChartData = {{ location_chart_data | safe }};

  // Horizontal Bar chart for locations
  var ctxLocationBarChart = document.getElementById("bar-chart-location").getContext("2d");
  new Chart(ctxLocationBarChart, {
    type: "bar", // Set the chart type to bar
    data: {
      labels: locationBarChartLabels,
      datasets: [{
        label: "Alerts by Location",
        weight: 5,
        borderWidth: 0,
        borderRadius: 4,
        backgroundColor: '#344767', 
        data: locationBarChartData,
        fill: false,
        maxBarThickness: 35
      }],
    },
    options: {
      indexAxis: 'y',
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: false,
        }
      },
      scales: {
        x: {
          grid: {
            drawBorder: false,
            display: true,
            drawOnChartArea: true,
            drawTicks: false,
            borderDash: [5, 5]
          },
          ticks: {
            display: true,
            padding: 10,
            color: '#9ca2b7',
            stepSize: 1,
          }
        },
        y: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: true,
            drawTicks: true,
          },
          ticks: {
            display: true,
            color: '#9ca2b7',
            padding: 10
          }
        },
      },
    },
  });
</script>

{% endblock extrascripts %}
