{% extends 'base.html' %}

{% block content %}
<div class="alert alert-success alert-dismissible text-white fade show" role="alert">
    <div class="d-flex align-items-center">
        <span class="alert-icon align-middle">
            <span class="material-icons text-md">
                thumb_up_off_alt
            </span>
        </span>
        <span class="alert-text ml-2">
            <strong>Success!</strong> The password was changed!
        </span>
    </div>
    <span class="alert-text">
        You will be redirected to the home page in <span id="countdown"></span> seconds.
    </span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endblock %}

{% block extrascripts %}
<script>
    var countdownElement = document.getElementById('countdown');
    var secondsLeft = 5;

    function updateCountdown() {
        countdownElement.textContent = secondsLeft + ' seconds';
        secondsLeft--;

        if (secondsLeft === 0) {
            window.location.href = '/viz/dashboard/';
        } else {
            setTimeout(updateCountdown, 1000);
        }
    }

    setTimeout(updateCountdown, 1000);
</script>

{% endblock %}